
#hibiscus{
    height:450px;
    width:450px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.textie{
    font-family: Mansalva;
    font-size: 30px;
    text-align: center;
    display: block;
}